.highlightFound {
    background: rgb(250, 250, 255);
    border: 1px solid rgb(200, 200, 250);
}
.highlightCurrent {
    border: 1px solid rgb(10, 200, 10);
    position: absolute;
    z-index: 5;
    box-sizing: border-box;
}

.quiz-hide > div:nth-of-type(2) > .lia-quiz-generic > div:nth-of-type(2) > button:first-child {
    display: none;
}

.quiz-hide > .lia-code > .lia-code-control > div:first-child > button:first-child {
    visibility: hidden;
}

.quiz-hide > .lia-code > .lia-code-control > div:first-child > button:first-child:after {
    content: 'Check';
    visibility: visible;
    border: 1px solid rgb(var(--color-highlight));
    border-radius: 0.8rem;
    padding: .5rem .6rem;
    margin-left: -2rem;
}

.lia-code > .lia-code-control > div:first-child > button:first-child {
  visibility: hidden;
}

.lia-code > .lia-code-control > div:first-child > button:first-child:after {
  content: 'Run';
  visibility: visible;
  border: 1px solid rgb(var(--color-highlight));
  border-radius: 0.8rem;
  padding: .5rem .6rem;
  margin-left: -2rem;
}
